[submodule "vim_runtime/my_plugins/vim-nerdtree-syntax-highlight"]
	path = vim_runtime/my_plugins/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "vim_runtime/my_plugins/arxml.vim"]
	path = vim_runtime/my_plugins/arxml.vim
	url = https://github.com/m42e/arxml.vim.git
[submodule "vim_runtime/my_plugins/FastFold"]
	path = vim_runtime/my_plugins/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "vim_runtime/my_plugins/open-browser.vim"]
	path = vim_runtime/my_plugins/open-browser.vim
	url = https://github.com/tyru/open-browser.vim
[submodule "vim_runtime/my_plugins/plantuml-previewer.vim"]
	path = vim_runtime/my_plugins/plantuml-previewer.vim
	url = https://github.com/weirongxu/plantuml-previewer.vim
[submodule "vim_runtime/my_plugins/plantuml-syntax"]
	path = vim_runtime/my_plugins/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "vim_runtime/my_plugins/vim-devicons"]
	path = vim_runtime/my_plugins/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim_runtime/my_plugins/vim-dispatch"]
	path = vim_runtime/my_plugins/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim_runtime/my_plugins/vim-fontsize"]
	path = vim_runtime/my_plugins/vim-fontsize
	url = https://github.com/drmikehenry/vim-fontsize.git
[submodule "vim_runtime/my_plugins/vim-gitgutter"]
	path = vim_runtime/my_plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim_runtime/my_plugins/vim-smoothie"]
	path = vim_runtime/my_plugins/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie
[submodule "vim_runtime/my_plugins/vista.vim"]
	path = vim_runtime/my_plugins/vista.vim
	url = https://github.com/liuchengxu/vista.vim
[submodule "vim_runtime/my_plugins/coc.nvim"]
	path = vim_runtime/my_plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
