[General]
Show_Labels=false
val_fontsize=3
Lines_Size=1
Update_Interval=2
Preferred_Width=933
Preferred_Height=586
Number_Chips=8
str_fontsize=large

[Chip0]
Name=ucsi_source_psy_USBC000:001-0
Number=0

[Chip1]
Name=coretemp-0
Number=1

[Chip1_Feature0]
Address=0
Name=Package id 0
Color=#F5C211
Show=true
Min=0
Max=31

[Chip2]
Name=BAT0-0
Number=2

[Chip3]
Name=ucsi_source_psy_USBC000:002-0
Number=3

[Chip4]
Name=iwlwifi_1-0
Number=4

[Chip5]
Name=nvme-100
Number=5

[Chip6]
Name=acpitz-0
Number=6

[Chip7]
Name=ACPI
Number=7

